<section class="header" [ngClass]="getHeadClass()">
  <div class="header-content">
    <div class="header-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input type="search" name="" id=""
          class="search"
          placeholder="search...">
          <i class="search-icon bi bi-search"></i>
        </div>
      </div>
    </div>
    <div class="header-content-right">
      <div class="header-menu">
        <div class="header-menu-item">
          <button class="header-menu-item-btn">
            <img src="../../../assets/imgs/1f1e8-1f1f1.png" class="flag" alt="flag">
          </button>
        </div>
        <div class="header-menu-item">
          <button class="header-menu-item-btn">
            <i class="menu-icon fa-expanded bi bi-list"></i>
          </button>
        </div>
        <div class="header-menu-item">
          <button class="header-menu-item-btn">
            <i class="menu-icon fa-bell bi bi-list"></i>
          </button>
        </div>
        <div class="header-menu-item">
          <button class="header-menu-item-btn">
            <i class="menu-icon fa-comment bi bi-list"></i>
          </button>
        </div>
      </div>
      <div class="header-user-avatar-container">
        <div class="header-user-avatar">
          <img src="../../../assets/imgs/1946429.png" alt="user" class="user-avatar">
          <div class="cirle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</section>
