
<h2 class="titulo-lista-personajes">Lista Personajes</h2>
<div class="lista-personajes">
  <article class="personaje" *ngFor="let pj of listaNombres">
    <div>
      <h2>{{pj | titlecase}}</h2>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit libero, et minus molestias neque quibusdam architecto molestiae, nulla magni temporibus ipsa doloremque aliquam aliquid consectetur, quam nisi porro possimus repellendus.</p>
    </div>
    <button type="button" [routerLink]="['/personaje/', pj]">Ver</button>
  </article>
</div>
