<main class="contenido-principal">
  <header class="encabesado">
    <div class="encabesado-container">
      <h1>Api Genshin Impact</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolor alias, doloremque, velit nulla animi vitae ex incidunt magnam modi, odio placeat tempore sequi ipsam earum eos minus quod. Quo?</p>
    </div>
  </header>

  <section class="contenido">
    <div class="container">
      <div class="img-container"></div>
      <h2>Genshin Impact</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem sequi sit numquam ut, laborum odit vel officiis voluptates optio quo dignissimos libero magni delectus corrupti laudantium. Neque perferendis quis nostrum!</p>
    </div>
  </section>

  <footer class="pie-pagina">
    <ul>
      <li>
        <a href="">Instargam</a>
      </li>
      <li>
        <a href="">Facebook</a>
      </li>
      <li>
        <a href="">Twitter</a>
      </li>
    </ul>
  </footer>
</main>
