
<header class="encabesado">
  <h1>
    Inicio
  </h1>
</header>

<section class="contenido">
  <article>
    <div>
      <h2>
        Titulo Articulo
      </h2>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, perferendis sapiente excepturi commodi ducimus eaque quae atque sunt expedita repellat exercitationem, velit accusamus reiciendis corporis dolorum quaerat dolor eius ex.

      </p>
    </div>
  </article>
</section>

<footer class="pie-pagina">
  <ul>
    <li>
      <a href="">Instargam</a>
    </li>
    <li>
      <a href="">Facebook</a>
    </li>
    <li>
      <a href="">Twitter</a>
    </li>
  </ul>
</footer>
